body {
    margin: 0;
    font-family: "Poppins", sans-serif, "DM Sans", sans-serif;
    background-color: #e7dede;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    background-color: #e7dede;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo img {
    height: 60px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 0px;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.header1 {
    margin-right: 50px;
}

.nav i {
    margin-right: 15px;
    font-size: 35px;
}

nav a:hover {
    color: #003A70;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1300px;
    margin: auto;
}

.pokemon-info {
    flex: 1;
    color: #333;

    i {
        color: rgb(180, 12, 12);
    }

}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.stats p {
    font-size: 16px;
    font-weight: bold;
}

.types,
.evolutions {
    margin-top: 20px;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 20px;
}

.normal {
    background-color: #A8A878;
    color: white;
}

.fire {
    background-color: #F08030;
    color: white;
}

.water {
    background-color: #6890F0;
    color: white;
}

.grass {
    background-color: #78C850;
    color: white;
}

.electric {
    background-color: #F8D030;
    color: black;
}

.ice {
    background-color: #98D8D8;
    color: white;
}

.fighting {
    background-color: #C03028;
    color: white;
}

.poison {
    background-color: #A040A0;
    color: white;
}

.ground {
    background-color: #E0C068;
    color: black;
}

.flying {
    background-color: #A890F0;
    color: black;
}

.psychic {
    background-color: #F85888;
    color: white;
}

.bug {
    background-color: #A8B820;
    color: white;
}

.rock {
    background-color: #B8A038;
    color: white;
}

.ghost {
    background-color: #705898;
    color: white;
}

.dark {
    background-color: #705848;
    color: white;
}

.dragon {
    background-color: #7038F8;
    color: white;
}

.steel {
    background-color: #B8B8D0;
    color: black;
}

.fairy {
    background-color: #F0B6BC;
    color: black;
}

.evolution-images {
    display: flex;
    gap: 60px;
}

.evolution-images img {
    width: 100px;
    height: 120px;
}

.front {
    margin: 0;
}

.back {
    margin-right: 35px;
    margin-left: 0px;
}

.shiny {
    margin: 0;
}

.pokemon-image img {
    display: flex;
    position: relative;
    z-index: 1;
    left: 200px;
    top: 60px;
    width: 602px;
}

.Triangulo {
    display: flex;
    position: relative;
    z-index: 0;
    width: 2000px;
    right: 370px;
    top: 72px;
}

.site-footer {
    background-color: #1d1d1b;
    color: #fff;
    padding: 50px 100px;
    margin-top: 50px;
}


.footer-columns {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: -25px;
}

.footer-col {
    display: flex;
    flex-direction: row;
}

.footer-col i {
    margin-right: 20px;
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
}

.footer-col h4 {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    margin-right: 100px;
}

.footer-col ul li {
    margin-bottom: 5px;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.95rem;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #444;
    padding-top: 15px;
    font-size: 15px;
}

.footer-bottom p {
    margin: 0;
}

.legal-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.legal-links a:hover {
    text-decoration: underline;
}

.favorite-btn {
    margin-left: 10px;
    background-color: #e6d9db;
    color: white;
    border: none;
    border-radius: 70px;
    padding: 10px 18px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.favorite-btn:hover {
    background-color: #eb8695;
    transform: scale(1.05);
}