body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif, "DM Sans", sans-serif;
    background-color: #e7dede;
    color: #1d1d1b;
}
header {
    display: flex;
    width: 100%;
}
.amarillo {
    width: 100%;
    height: 800px;
    margin-top: 0px 0px;
    padding: 0px 0px;
    background-color: #feca05;
    background-position: 100%;

}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    text-align: left;
}
.texto {
    max-width: 70%;
}

.texto h1 {
    font-size: 50px;
    line-height: 1;
    margin-top:300px;
}
.texto h2 {
    font-size: 50px;
    line-height: 1;
    font-family: "DM Sans";
}
.texto h3 {
    font-size: 35px;
    line-height: 1;
    font-family: dm sans;
    line-height: 0.6;
    font-weight: 500;
}

.button {
    background-color: #003A70;
    color: #fff;
    border: none;
    padding: 20px 35px;
    font-size: 25px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

button:hover {
    box-shadow: 0 0 10px 3px rgba(0, 91, 181, 0.7);
}

.seccion-imagenes {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 500px;
    bottom: 720px;
}
.seccion-imagenes2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 500px;
    bottom: 1008px;
    padding-right: 20px;
}
.pikachu-imagen {
    width: 600px;
    z-index: 2;
    left: 700px;
    margin-right: 60px;
}

.pokeball-imagen {
    width: 500px;
    margin-right: 70px;
    margin-bottom: 0;
    z-index: 1;
    opacity: 0.6;
    transform: rotate(15deg);
}

.carrusel {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.carrusel-imagen-1 {
    width: 480px;

    z-index: 2;
    border-radius: 2%;
}
.carrusel-imagen-2 {
    width: 350px;
    z-index: 1;
    border-radius: 2%;
    bottom: 37px;
    right: 100px;
    opacity: 0.7;
}
.carrusel-imagen-3 {
    width: 350px;
    z-index: 1;
    border-radius: 2%;
    bottom: 37px;
    left: 10px;
    opacity: 0.7;
}
.flecha1 {
    width: 65px;
    position: relative;
    z-index: 2;
    left: 29px;
    transform: rotate(-540deg);
    opacity: 0.6;
    cursor: pointer;
}
.flecha1:hover {
    opacity: 1;
}
.flecha2 {
    width: 65px;
    position: relative;
    z-index: 2;
    right: 29px;
    opacity: 0.6;
    cursor: pointer;
}
.flecha2:hover {
    opacity: 1;
}
.about-us {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    background-color: #e7dede;
}
.perfil {
    text-align: center;
    max-width: 210px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.perfil:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.perfil-imagen {
    width: 150px;
    border-radius: 80%;
    border: none;
}
.perfil h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #1d1d1b;
}
.perfil-title {
    font-size: 0.9rem;
    color: #1d1d1b;
    margin-bottom: 5px;
}
.perfil-enlace {
    font-size: 0.9rem;
    color: #1f1d1d;
    margin-top: 5px;
}
.perfil-descripcion {
    font-size: 0.8rem;
    color: #1d1d1b;
}
