body {
    margin: 0;
    font-family: "Poppins", sans-serif, "DM Sans", sans-serif;
    background-color: #e7dede;
    color: #1d1d1b;
}
.Cuadro {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    /*overflow: hidden;*/ 
    margin: 0px;
}
.informacion {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 50%;
}
.texto {
    max-width: 50%;
    margin-left: 4%;
    margin-top: 3%;
}
.texto h1 {
    font-size: 2.5em;
    line-height: 1;
    margin: 15px 0;
}
.texto h2 {
    font-size: 2em;
    line-height: 0;
    margin: 15px 0;
}
.texto h3 {
    font-size: 15px;
    line-height: 1;
    margin: 35px 0;
    margin-bottom: 0;
    font-weight: 350;
}
.cajita1 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 130%;
}
.texto h4 {
    font-size: 15px;
    line-height: 1;
    margin: 18px 0;
    font-weight: 600;
}
.texto h5 {
    font-size: 14px;
    line-height: 1;
    margin: 18px 0;
    font-weight: 300;
}
.texto h6 {
    font-size: 15px;
    line-height: 1;
    margin: 18px 0;
    font-weight: 600;
    margin-left: 8px;
}
.contenedor1 {
    display: flex;
    justify-content: center;
    margin-right: 300px;
    justify-content: left;
}
.rectangulo {
    display: flex;
    height: 50px;
    width: 125px;
    border-radius: 20px;
    background-color: #6D4A1D;
    color: #e7dede;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-right: 10px;
}
.rectangulo2 {
    display: flex;
    height: 50px;
    width: 125px;
    border-radius: 20px;
    background-color: #FBDB00;
    color: #1d1d1b;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-left: 10px;
}
.rectangulo3 {
    display: flex;
    height: 50px;
    width: 125px;
    border-radius: 20px;
    background-color: #9AC7EC;
    color: #1d1d1b;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-top: 20px;
}
.texto1 {
    font-size: 15px;
    line-height: 1;
    margin: 18px 0;
    font-weight: 600;
    margin-top: 2px;
}
.texto2 {
    font-size: 15px;
    line-height: 1;
    margin: 18px 0;
    font-weight: 600;
    margin-top: 2px;
    margin-left: 53px;
}
.texto3 {
    font-size: 15px;
    line-height: 1;
    margin: 18px 0;
    font-weight: 600;
    margin-top: 17px;
}
.imagen-pokemon {
    display: flex;
    position: relative;
    z-index: 1;
    background-image: url(Elementos/Electrico.png);
    width: 50%;
    height: 100vh;
}
.pokemon-main {
    width: 90%;
    height: 90%;
    margin-top: 36px;
    margin-left: 30px;
}
.sprites-img {
    display: flex;
    position: absolute;
    z-index: 3;
    flex-direction: row;
    gap: 110px;
    width: 130px;
    height: 130px;
    margin-top: 34%;
    right: 85%;
}